<header class="header">
    <nav class="navbar navbar-expand-sm fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand"> </a>
            <!-- <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">Menu<i class="fa fa-align-justify"></i></button> -->
            <div id="navbarSupportedContent" style="justify-content: center;" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <!-- <li id="open-reservation" class="nav-item"><a href="#hero" class="btn navbar-btn btn-unique d-none d-lg-inline-block">Home</a></li>
                  <li class="nav-item"><a href="#about" class="nav-link link-scroll">Sign In</a></li>
                  <li class="nav-item"><a href="#services" class="nav-link link-scroll">Books</a></li>
                  <li class="nav-item"><a href="#dishes" class="nav-link link-scroll">Authors</a></li>
                  <li class="nav-item"><a href="#menu" class="nav-link link-scroll">Add Books</a></li>
                  <li class="nav-item"><a href="#gallery" class="nav-link link-scroll">Add Authors</a></li>
                  <li class="nav-item">
                      <a href="#gallery" class="nav-link link-scroll">Sign Up</a>
                  </li>
                  <li class="nav-item"><a href="#contact" class="nav-link link-scroll">SignUp </a></li>
                  <li class="nav-item"><a href="#contact" class="nav-link link-scroll">Logout </a></li> -->
                </ul><a href="#" style="color: white;" class="btn navbar-btn btn-unique   d-sm-inline-block">Home       </a>
                <a routerLink="books" style="color: white;" class="btn navbar-btn btn-unique  d-sm-inline-block">Profile       </a>
                <a routerLink="addbook" style="color: white;" class="btn navbar-btn btn-unique  d-sm-inline-block">Log out  </a>


            </div>
        </div>
    </nav>
</header>