<div class="form">
  <h2>Add Associate</h2>
  <form (ngSubmit)="addAssociate()">
    <div class="input">
      <div class="inputBox">
        <label for="">Associate Name</label>
        <input type="text" name="name" required [(ngModel)]="user.name" />
      </div>
      <div class="inputBox">
        <label for="">ICTAK ID</label>
        <input
          type="text"
          name="ICTAKID"
          required
          [(ngModel)]="user.username"
        />
      </div>
      <div class="inputBox">
        <label for="">Email Id</label>
        <input type="email" name="email" required [(ngModel)]="user.email" />
      </div>
      <div class="inputBox">
        <label for="">Password</label>
        <input
          type="password"
          name="password"
          required
          [(ngModel)]="user.password"
        />
      </div>
      <div class="inputBox">
        <label for="">Phone Number</label>
        <input type="text" name="phone" required [(ngModel)]="user.phone" />
      </div>
      <div class="inputBox">
        <label for="">Department </label>
        <select
          id="halls"
          (change)="onChange($event)"
          name="dept"
          [(ngModel)]="deptselected"
          required
        >
          <!-- <select id="halls" name="halls" [(ngModel)]=hallselected required > -->

          <option *ngFor="let i of deptdata" [value]="i._id">
            {{ i.deptname }}
          </option>
        </select>
      </div>
      <div class="inputBox">
        <label for="">Designation</label>
        <input
          type="text"
          name="designation"
          id="designation"
          #designation="ngModel"
          required
          [(ngModel)]="user.designation"
        />
      </div>
      <div class="inputBox">
        <label for="">Area of Interest</label>
        <input
          type="text"
          name="areaint"
          id="areaint"
          #areaint="ngModel"
          required
          [(ngModel)]="user.areaint"
        />
      </div>
      <div class="inputBox">
        <label for="">Place</label>
        <input
          type="text"
          name="place"
          id="place"
          #place="ngModel"
          required
          [(ngModel)]="user.place"
        />
      </div>
      <div class="inputBox">
        <label for="">Nationality</label>
        <input
          type="text"
          name="nation"
          id="nation"
          #nation="ngModel"
          required
          [(ngModel)]="user.nation"
        />
      </div>
      <div class="inputBox">
        <label for="">Role</label>
        <!-- <select id="role" name="role">
                <option value=""></option>
                <option value="a">ADMIN</option>
                <option value="b">ASSOCIATE</option>

            </select> -->
        <input
          type="text"
          name="role"
          id="role"
          #role="ngModel"
          required
          [(ngModel)]="user.role"
        />
      </div>
      <div class="inputBox">
        <span *ngIf="isInvalid" style="color: white; background-color: red">{{
          error
        }}</span>

        <!-- <span style="color: red">{{ errormessage }}</span> -->
        <br />
        <input type="submit" value="Add" />
      </div>
    </div>
  </form>
</div>
