<div class="form">
    <h2>Add Associate</h2>
    <form (ngSubmit)="addAssociate()" novalidate #addForm='ngForm'>
    <div class="input">
        <div class="inputBox">
            <label for="">Associate Name</label>
            <input type="text" name="name" id="name" #name="ngModel" required [(ngModel)]=user.name>
        </div>
        <div class="inputBox">
            <label for="">ICTAK ID</label>
            <input type="text" name="ICTAKID" id="username" #ICTAKID="ngModel" required [(ngModel)]=user.username>
        </div>
        <div class="inputBox">
            <label for="">Email Id</label>
            <input type="email" name="email" id="email" #email="ngModel" required [(ngModel)]=user.email>
        </div>
        <div class="inputBox">
            <label for="">Password</label>
            <input type="password" name="password" id="password" #password="ngModel" required [(ngModel)]=user.password>
        </div>
        <div class="inputBox">
            <label for="">Phone Number</label>
            <input type="text" name="phone" id="phone" #phone="ngModel" required [(ngModel)]=user.phone>
        </div>
        <div class="inputBox">
            <label for="">Department </label>
            <select id="dept" (change)="onChange($event)" name="dept" [(ngModel)]=deptselected required>
                <!-- <select id="halls" name="halls" [(ngModel)]=hallselected required > -->

            <option *ngFor="let i of deptdata" [value]="i._id">{{i.deptname}}</option>
            </select>
        </div>
        <div class="inputBox">
            <label for="">Designation</label>
            <input type="text" name="designation" id="designation" #designation="ngModel" required [(ngModel)]=user.designation>
        </div>
        <div class="inputBox">
            <label for="">Area of Interest</label>
            <input type="text" name="areaint" id="areaint" #areaint="ngModel" required [(ngModel)]=user.areaint>
        </div>
        <div class="inputBox">
            <label for="">Place</label>
            <input type="text" name="place" id="place" #place="ngModel" required [(ngModel)]=user.place>
        </div>
        <div class="inputBox">
            <label for="">Nationality</label>
            <input type="text" name="nation" id="nation" #nation="ngModel" required [(ngModel)]=user.nation>
        </div>
        <div class="inputBox">
            <label for="">Role</label>
            <!-- <select id="role" name="role">
                <option value=""></option>
                <option value="a">ADMIN</option>
                <option value="b">ASSOCIATE</option>

            </select> -->
            <input type="text" name="role" id="role" #role="ngModel" required [(ngModel)]=user.role>
        </div>
        <div class="inputBox">
            <small *ngIf="isInvalid" class="msg"> {{ errorMessage }} </small>
            <br>
            <button id="btn" type="submit" name="">
            <h2>ADD</h2>
                </button>

        </div>
    </div>
</form>


</div>