<section class="pb-0">
    <div class="container-fluid">
        <div class="row gy-4">
            <!-- Work Amount  -->
            <div>

            </div>
            <!-- Client Profile -->
            <div class="col-lg-12">
                <div class="card mb-0">

                    <div class="card-body text-center">
                        <div class="client-avatar mb-3"><img class="img-fluid  shadow-0" src="/assets/img/profile1.jpg" alt="...">

                        </div>
                        <h3 class="fw-normal">Jason Doe</h3>
                        <p class="text-sm text-gray-500 mb-1">Web Developer</p><a class="btn btn-faintGreen btn-sm text-white px-4 rounded-pill py-0" href="#">Follow</a>
                        <div class="row py-4 gy-3">
                            <div class="col-lg-4"><strong class="d-block lh-1"><i class="fas fa-id-card-alt"></i></strong><small>7689-5624</small></div>
                            <div class="col-lg-4"><strong class="d-block lh-1"><i class="fas fa-mobile-alt"></i></strong><small>055 485 6954</small></div>
                            <div class="col-lg-4"><strong class="d-block lh-1"><i class="fas fa-envelope"></i></strong><small>abc@ictak.com</small></div>
                        </div>

                        <div class="row py-4 gy-3" style="border: 1px solid rgb(226, 225, 225);margin-bottom: 10px;">
                            <div class="col-lg-6"><strong class="d-block lh-1">DEPARTMENT</strong><small></small></div>
                            <!-- <div class="col-lg-4"><strong class="d-block lh-1"></strong><small></small></div> -->
                            <div class="col-lg-6"><strong class="d-block lh-1">Full Stack Development</strong></div>
                        </div>
                        <div class="row py-4 gy-3" style="border: 1px solid rgb(226, 225, 225);margin-bottom: 10px;">
                            <div class="col-lg-6"><strong class="d-block lh-1">DESIGNATION</strong><small></small></div>
                            <!-- <div class="col-lg-4"><strong class="d-block lh-1"></strong><small></small></div> -->
                            <div class="col-lg-6"><strong class="d-block lh-1">Associate</strong></div>
                        </div>
                        <div class="row py-4 gy-3" style="border: 1px solid rgb(226, 225, 225);margin-bottom: 10px;">
                            <div class="col-lg-6"><strong class="d-block lh-1">AREa OF INTEREST</strong><small></small></div>
                            <!-- <div class="col-lg-4"><strong class="d-block lh-1"></strong><small></small></div> -->
                            <div class="col-lg-6"><strong class="d-block lh-1">Angular</strong></div>
                        </div>
                        <div class="row py-4 gy-3" style="border: 1px solid rgb(226, 225, 225);margin-bottom: 10px;">
                            <div class="col-lg-6"><strong class="d-block lh-1">GRADUATION</strong><small></small></div>
                            <!-- <div class="col-lg-4"><strong class="d-block lh-1"></strong><small></small></div> -->
                            <div class="col-lg-6"><strong class="d-block lh-1">M.Tech</strong></div>
                        </div>
                        <div class="row py-4 gy-3" style="border: 1px solid rgb(226, 225, 225);margin-bottom: 10px;">
                            <div class="col-lg-6"><strong class="d-block lh-1">LOCATION</strong><small></small></div>
                            <!-- <div class="col-lg-4"><strong class="d-block lh-1"></strong><small></small></div> -->
                            <div class="col-lg-6"><strong class="d-block lh-1">Ernakulam</strong></div>
                        </div>
                        <div class="row py-4 gy-3" style="border: 1px solid rgb(226, 225, 225);margin-bottom: 10px;">
                            <div class="col-lg-6"><strong class="d-block lh-1">NATIONALITY</strong><small></small></div>
                            <!-- <div class="col-lg-4"><strong class="d-block lh-1"></strong><small></small></div> -->
                            <div class="col-lg-6"><strong class="d-block lh-1">Indian</strong></div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Total Overdue             -->
            <div>


            </div>
        </div>
    </div>
</section>