    #calendar {
        margin-top: 70px;
        margin-right: 70px;
    }
    /* #head {
    background: linear-gradient(315deg, #13547a, #80d0c7);
    color: #fff;
    margin-bottom: 20px;
}

.icon {
    background: linear-gradient(315deg, #13547a, #80d0c7);
}

#box {
    box-shadow: 5px 5px 5px 5px #bbbbbb;
    margin-top: 50px;
    min-height: 500px;
}

#box:hover {
    transform: scale(1.04);
    transition: 0.5s;
    transition-timing-function: ease-out;
}

section {
    margin-left: 250px;
    min-height: 500px;
    margin-top: 50px;
} */