<!-- <div class="s-layout"> -->
<!-- Sidebar -->
<div class="s-layout__sidebar">
    <a class="s-sidebar__trigger" href="#0">
        <i class="fa fa-bars"></i>
    </a>

    <nav class="s-sidebar__nav">
        <ul style="margin-top: 100px;">
            <li>
                <a class="s-sidebar__nav-link" href="#0">
                    <i class="fa fa-home"></i><em>HOME</em>
                </a>
            </li>
            <li>
                <a class="s-sidebar__nav-link" href="#0">
                    <i class="fa fa-camera"></i><em>BOOK A HALL</em>
                </a>
            </li>
            <li>
                <a class="s-sidebar__nav-link" href="#0">
                    <i class="fa fa-user"></i><em>ASSOCIATES</em>
                </a>
            </li>
            <li>
                <a class="s-sidebar__nav-link" href="#0">
                    <i class="fa fa-camera"></i><em>VIEW BOOKINGS</em>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!-- Content -->
<!-- <main class="s-layout__content">
      <h1>Full View, Please!</h1>
  </main> -->
<!-- </div> -->