<footer id="mainFooter" class="main-footer">
    <div class="container">
        <div class="row">

            <div class="col-md-3 contact">
                <div class="header">
                    <h6>Contact</h6>
                </div>
                <ul class="contact list-unstyled">
                    <!-- <li><span class="icon-map text-primary"></span>L-9, Thejaswini Building,</li>
                    <li><span class="icon-map text-primary"></span>Technopark, Thiruvananthapuram</li>
                    <li><span class="icon-map text-primary"></span>Kerala, India.</li> -->
                    <li><a href="support@ictak.com"><span class="icon-phone text-primary"></span>support@ictak.com</a></li>
                    <li><span class="icon-mail text-primary"></span>+91-471-2700811</li>
                    <li><span class="icon-printer text-primary"></span>+91-7594051437</li>
                </ul>
            </div>

            <div class="col-md-5 contact">

                <div class="header">
                    <h6>Branches</h6>
                </div>
                <ul class="contact list-unstyled">
                    <li><span class="icon-map text-primary"></span>ICT ACADEMY-CENTRAL REGION,Thrissur.
                    </li>
                    <!-- <li><span class="icon-map text-primary"></span>Infopark, Koratty, Thrissur, Kerala, India.
                    </li> -->
                    <li><span class="icon-map text-primary"></span>ICT ACADEMY-NORTH REGION,Kozhikode.</li>
                    <!-- <li><span class="icon-map text-primary"></span>2nd Floor, Ul Cyberpark Building,Kozhikode, Kerala, India.
                    </li> -->
                    <li><span class="icon-map text-primary"></span>ICT ACADEMY-SOUTH REGION,Trivandrum.</li>
                    <!-- <li><span class="icon-map text-primary"></span>L-9, Thejaswini Building, Technopark, Trivandrum, Kerala, India.
                    </li> -->

                </ul>
            </div>
            <div class="col-md-4 newsletter">
                <div class="header">
                    <h6>Support</h6>
                </div>
                <p>Enter your email id and our Technical Executive will contact you.</p>
                <form id="subscribe" action="#" class="clearfix">
                    <input type="email" name="subscribtion-email" placeholder="Enter Your Email Address" class="pull-left">
                    <button type="submit" class="btn-unique has-border pull-left">Send</button>
                </form>
            </div>
        </div>

        <ul class="social list-inline">
            <li class="list-inline-item"><a href="#" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="Google plus"><i class="fab fa-google-plus"></i></a></li>


        </ul>
    </div>

</footer>
<!-- End Footer-->