<app-sidebar></app-sidebar>

<!-- Dashboard Counts Section-->
<section class="pb-0">
    <div class="container-fluid">
        <div class="card mb-0">
            <div class="card-body">
                <div class="row gx-5 bg-white">
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-dark">
                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                    <use xlink:href="#user-1"> </use>
                  </svg>
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-3">Available<br>Halls</h6>
                                <!-- <div class="progress" style="height: 4px">
                                    <div class="progress-bar bg-violet" role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                            <div class="number"><strong class="text-lg">25</strong></div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-red">
                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                    <use xlink:href="#survey-1"> </use>
                  </svg>
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-3">Booked<br>Halls</h6>
                                <!-- <div class="progress" style="height: 4px">
                                    <div class="progress-bar bg-red" role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                            <div class="number"><strong class="text-lg">70</strong></div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-green">
                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                    <use xlink:href="#numbers-1"> </use>
                  </svg>
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-3"><br>Associates</h6>
                                <!-- <div class="progress" style="height: 4px">
                                    <div class="progress-bar bg-green" role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                            <div class="number"><strong class="text-lg">40</strong></div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6 py-4">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-orange">
                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                    <use xlink:href="#list-details-1"> </use>
                  </svg>
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-3"><br>Admins</h6>
                                <!-- <div class="progress" style="height: 4px">
                                    <div class="progress-bar bg-orange" role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                            <div class="number"><strong class="text-lg">3</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Events Section-->

<section class="pb-0">
    <div class="container-fluid">
        <div class="ms-3">
            <h3 class="h1 text-gray-700 mb-0" style="margin-top: 20px;">UPCOMING EVENTS</h3>
        </div>
        <!-- Events-->
        <div class="card mb-3">
            <div class="card-body p-3">
                <div class="row align-items-center gx-lg-5 gy-3">
                    <div class="col-lg-3 border-lg-end">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center"><img class="img-fluid shadow-sm" src="/assets/img/profile1.jpg" alt="..." width="50">
                                <div class="ms-3">
                                    <h3 class="h4 text-gray-700 mb-0">Event name</h3><small class="text-gray-500">Hall Name</small>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 border-lg-end">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">

                            </div><span class="text-sm text-gray-600  d-sm-block"><i class="far fa-clock me-1"></i> From 2 pm to 3 pm,15 Dec 2020</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center">
                            <p class="d-flex mb-0 text-gray-600 text-sm d-flex align-items-center flex-shrink-0">Associate name</p>
                            <p class="d-flex mb-0 mx-3 text-gray-600 text-sm d-flex align-items-center flex-shrink-0"></p>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center">

                            <div style="height: 50px; margin-right: 10px; max-width: 15rem">
                                <!-- <div class="progress-bar bg-red" role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
                                <button id="btn" type="submit" name="">
                                    <a routerLink=""><h2 style="color: white;">EDIT</h2></a>
                                                    </button>
                                                   
                                                </div>
                            <div style="height: 50px;  max-width: 15rem">
                                <!-- <div class="progress-bar bg-red" role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
                                <button id="btn" type="submit" name="">
                                    <a routerLink=""><h2 style="color: white;">DELETE</h2></a>
                                                    </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Events-->
        <div class="card mb-3">
            <div class="card-body p-3">
                <div class="row align-items-center gx-lg-5 gy-3">
                    <div class="col-lg-3 border-lg-end">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center"><img class="img-fluid shadow-sm" src="/assets/img/profile1.jpg" alt="..." width="50">
                                <div class="ms-3">
                                    <h3 class="h4 text-gray-700 mb-0">Event name</h3><small class="text-gray-500">Hall Name</small>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 border-lg-end">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">

                            </div><span class="text-sm text-gray-600  d-sm-block"><i class="far fa-clock me-1"></i> From 2 pm to 3 pm,15 Dec 2020</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center">
                            <p class="d-flex mb-0 text-gray-600 text-sm d-flex align-items-center flex-shrink-0">Associate name</p>
                            <p class="d-flex mb-0 mx-3 text-gray-600 text-sm d-flex align-items-center flex-shrink-0"></p>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center">

                            <div style="height: 50px; margin-right: 10px; max-width: 15rem">
                                <!-- <div class="progress-bar bg-red" role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
                                <button id="btn" type="submit" name="">
                            <a routerLink=""><h2 style="color: white;">EDIT</h2></a>
                                            </button>
                            </div>
                            <div style="height: 50px;  max-width: 15rem">
                                <!-- <div class="progress-bar bg-red" role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
                                <button id="btn" type="submit" name="">
                            <a routerLink=""><h2 style="color: white;">DELETE</h2></a>
                                            </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Events-->
        <div class="card mb-3">
            <div class="card-body p-3">
                <div class="row align-items-center gx-lg-5 gy-3">
                    <div class="col-lg-3 border-lg-end">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center"><img class="img-fluid shadow-sm" src="/assets/img/profile1.jpg" alt="..." width="50">
                                <div class="ms-3">
                                    <h3 class="h4 text-gray-700 mb-0">Event name</h3><small class="text-gray-500">Hall Name</small>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 border-lg-end">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">

                            </div><span class="text-sm text-gray-600  d-sm-block"><i class="far fa-clock me-1"></i> From 2 pm to 3 pm,15 Dec 2020</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center">
                            <p class="d-flex mb-0 text-gray-600 text-sm d-flex align-items-center flex-shrink-0">Associate name</p>
                            <p class="d-flex mb-0 mx-3 text-gray-600 text-sm d-flex align-items-center flex-shrink-0"></p>


                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center">

                            <div style="height: 50px; margin-right: 10px; max-width: 15rem">
                                <!-- <div class="progress-bar bg-red" role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
                                <!-- <button id="btn" type="submit" name="">
                            <a routerLink=""><h2 style="color: white;">EDIT</h2></a>
                                            </button> -->
                            <button id="btn" (click)="editBooking(bookings)" style="color: white;"> Edit</button>                                      
                            </div>
                            <div style="height: 50px;  max-width: 15rem">
                                <!-- <div class="progress-bar bg-red" role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
                                <button id="btn" type="submit" name="">
                            <a routerLink=""><h2 style="color: white;">DELETE</h2></a>
                                            </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>