<!-- <div class="s-layout"> -->
<!-- Sidebar -->
<div class="s-layout__sidebar">
  <a class="s-sidebar__trigger" href="#0">
    <i class="fa fa-bars"></i>
  </a>

  <nav class="s-sidebar__nav">
    <!-- <div class="sidebar-header d-flex align-items-center py-5 px-4">
            <div class="ms-3 title d-none">
                <h1 class="h4 mb-2">Welcome {{username}}</h1>

            </div>
        </div> -->
    <ul style="margin-top: 10px">
      <li>
        <a class="s-sidebar__nav-link" routerLink="{{ nav.profile }}">
          <i class="fas fa-user-circle"></i> <em>WELCOME {{ username }}</em>
        </a>
      </li>

      <li>
        <a class="s-sidebar__nav-link" routerLink="{{ nav.home }}">
          <i class="fa fa-home"></i><em>HOME</em>
        </a>
      </li>
      <li>
        <a class="s-sidebar__nav-link" routerLink="{{ nav.bookHall }}">
          <i class="fab fa-wpforms"></i><em>BOOK A HALL</em>
        </a>
      </li>
      <li *ngIf="_auth.isAdmin()">
        <a class="s-sidebar__nav-link" routerLink="{{ nav.associates }}">
          <!-- <a class="s-sidebar__nav-link" routerLink="{{nav.associates}}"> -->

          <i class="fas fa-users"></i><em>ASSOCIATES</em>
        </a>
      </li>
      <li>
        <a class="s-sidebar__nav-link" routerLink="{{ nav.viewBookings }}">
          <i class="fas fa-calendar-alt"></i><em>VIEW BOOKINGS</em>
        </a>
      </li>
      <li>
        <a class="s-sidebar__nav-link" routerLink="" (click)="logoutUser()">
          <i class="fas fa-sign-out-alt"></i><em>LOG OUT</em>
        </a>
      </li>
    </ul>
  </nav>
</div>

<!-- Content -->
<!-- <main class="s-layout__content">
    <h1>Full View, Please!</h1>
</main> -->
<!-- </div> -->
