<!-- Side Navbar -->
<nav id="foo" class="side-navbar z-index-40">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center py-4 px-3">
    <div class="ms-3 title">
      <h1 class="h4 mb-2">Welcome {{username}}</h1>
      <h4 class="text-md text-white-500 fw-light mb-0 lh-1"></h4>
    </div>
  </div>
  <!-- Sidebar Navidation Menus-->
  <!-- <span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Main</span> -->
  <ul class="list-unstyled py-4">
    <li class="sidebar-item active" >
      <a class="sidebar-link text-uppercase " routerLink="{{ nav.home }}">
        <!-- <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
              <use xlink:href="#real-estate-1"> </use>
            </svg>  -->Home
      </a>
    </li>
    <li class="sidebar-item" routerLinkActive=Active>
      <a class="sidebar-link text-uppercase" routerLink="{{ nav.bookHall }}">
        <!-- <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
              <use xlink:href="#sales-up-1"> </use>
            </svg>-->Book Hall</a
      >
    </li>

    <li class="sidebar-item" >
      <a class="sidebar-link text-uppercase" routerLink="{{nav.associates}}" >
        <!-- <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2 ">
              <use xlink:href="#sales-up-1 "> </use>
            </svg>-->Associates
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link text-uppercase" routerLink="{{ nav.viewBookings }}">
        <!-- <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2 ">
              <use xlink:href="#survey-1 "> </use>
            </svg>-->View Bookings
      </a>
    </li>
    <!-- <li class="sidebar-item ">
            <a class="sidebar-link " href="#exampledropdownDropdown " data-bs-toggle="collapse ">
                <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2 ">
              <use xlink:href="#browser-window-1 "> </use>
            </svg>Example dropdown </a>
            <ul class="collapse list-unstyled " id="exampledropdownDropdown ">
                <li><a class="sidebar-link " href="# ">Page</a></li>
                <li><a class="sidebar-link " href="# ">Page</a></li>
                <li><a class="sidebar-link " href="# ">Page</a></li>
            </ul>
        </li> -->
  </ul>
  <span
    class="
      text-uppercase text-gray-400 text-xs
      letter-spacing-0
      mx-3
      px-2
      heading
    "
    >ICTAK</span
  >
  <ul class="list-unstyled py-4">
    <li class="sidebar-item">
      <a class="sidebar-link" href="# ">
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
          <use xlink:href="#imac-screen-1 "></use></svg
        >Contacts
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="# ">
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
          <use xlink:href="#chart-1 "></use></svg
        >Offices
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="# ">
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
          <use xlink:href="#quality-1 "></use></svg
        >Courses
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="# ">
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
          <use xlink:href="#security-shield-1 "></use></svg
        >Help
      </a>
    </li>
  </ul>
</nav>
