<div class="form">
    <h2>Login</h2>
    <div class="input">
        <div class="inputBox">
            <label for="">Username</label>
            <input type="text">
        </div>
        <div class="inputBox">
            <label for="">Password</label>
            <input type="password">
        </div>
        <div class="inputBox">
            <br>
            <button id="btn" type="submit" name="">
<a routerLink="home"><h2>SIGN IN</h2></a>
                </button>

        </div>
    </div>
    <p class="forgot">Forgot Password? <a href="#">Click Here</a></p>

</div>