<div class="form">
    <h2>Make Your Booking</h2>
    <form #addhallbook="ngForm" (ngSubmit)="saveBookings()">
        <div class="input">
        <div class="inputBox">
            <label >Associate Name</label>
            <input type="text" name="empName" required [(ngModel)]=bookingDetails.empName >
        </div>
        <div class="inputBox">
            <label>ICTAK ID</label>
            <input type="text" name="empId" required [(ngModel)]=bookingDetails.empId>
        </div>
        <div class="inputBox">
            <label>Hall</label>
            <select name="hallName">
                <option selected>Select Hall</option>
                <option value="1">Hall 1</option>
                <option value="2">Hall 2</option>
                <option value="3">Hall 3</option>
              </select>
           </div>
        <div class="inputBox">
            <label >Date</label>
            <input type="date" name="bookingDate" [(ngModel)]=bookingDetails.bookingDate>
        </div>
        <div class="inputBox">
            <label >Start Time</label>
            <input type="time" name="startTime" [(ngModel)]=bookingDetails.startTime>
        </div>
        <div class="inputBox">
            <label >End Time</label>
            <input type="time" name="endTime" [(ngModel)]=bookingDetails.endTime>
        </div>
        <div class="inputBox">
            <label >Email</label>
            <input type="email" name="empEmail" [(ngModel)]=bookingDetails.empEmail>
        </div>
        <div class="inputBox">
            <label >Purpose</label>
            <input type="text" name="desc" [(ngModel)]=bookingDetails.desc>
        </div>
        <div class="inputBox">
            <br>
            <button id="btn" type="submit" name="">
<a routerLink="home"><h2>Book Now</h2></a>
                </button>

        </div>
    </div>
    </form>
    </div>

